.fee, .gas-used, .gas-limit, .blocktop-hash, .blocktop-parent-hash, .blocktop-timestamp, .block-info-bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  width: 35%;
  color: rgb(168, 168, 168);
}
.value {
  width: 65%;
  text-align: left;
  color:aliceblue
}

.block-head > h3 {
  color: rgb(168, 168, 168);
}

@media (min-width: 44rem) {
  .fee, .gas-used, .gas-limit, .blocktop-hash, .blocktop-parent-hash, .blocktop-timestamp, .block-info-bot {
    width: 90%;
  }
}