 .block-transactions {
    margin-top: 20px;
    color: wheat;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    text-align: left;
    border: 1px solid rgba(204,204,204,0.25);
    padding: 10px;
  }
  
  tbody td {
    border: 1px solid rgba(204,204,204,0.25);
    padding: 10px;
  }
  
