.upper-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #61dafb;
    background-color: #16181d;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  }
  .price-gas,
  .final-safe {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #f3f6f7;
  }
  .price, .gas, .safe, .final, .current-block, .marketcap {
    padding: 0 0.5rem;
    text-align: center;
  }
  .marketcap > p, .current-block > p, .final > p, .safe > p, .price > p, .gas > p{
    margin: 0.5rem;
  }
  
  @media (min-width: 44rem) {
    .upper-container {
      overflow: hidden;
      flex-direction: row;
    }
    .price-gas-cap {
      padding-right: 5rem;
    }
    .price-gas-cap, .upper-blocks {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
    }
    .price-gas, .final-safe {
      justify-content: space-evenly;
      border-bottom: none;
    }
    .marketcap, .final, .safe {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0.5rem;
      border-bottom: none;
    }
    .price {
      margin-left: 0rem;
    }
    .gas,
    .safe {
      text-align: center;
    }
    .current-block {
      margin-top: 0.5rem;
    }
  }

  @media (max-width: 26rem) {
    .price-gas,
    .final-safe {
      flex-direction: column;
      border-bottom: none;
    }
  }